<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body fxLayout="row" fxLayoutAlign="center center">
    <!-- <p>login works!</p>
    <button mat-raised-button color="primary" (click)="openRegister()">signup</button>
    <button mat-raised-button color="accent" (click)="login()">Login</button> -->
    <mat-card fxLayout="column" class="mat-elevation-z24">
        <div fxLayout="row" fxFlex="30" id="chenna">
            <mat-icon id="groupicon">group</mat-icon>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="25px" fxFlex="70">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>
                    User Name:
                </mat-label>
                <mat-icon matPrefix>account_circle</mat-icon>
                <input matInput type="text" >
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>
                    Password:   
                </mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input matInput type="password" >
            </mat-form-field>
            <button mat-raised-button >Login</button>
        </div>
    </mat-card>
</body>
</html>