<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body fxLayout="row" flexLayoutAlign="center center" >
    <mat-card fxLayout="row" flexLayoutAlign="center center">
        <div fxFlex="25">
            <img src="../assets/images/register.jpg" alt="img">
        </div>
        <div fxLayout="column" fxFlex="75" >
            <mat-form-field appearence="fill">
                <input matInput type="text" placeholder="Email">
            </mat-form-field>
            <mat-form-field appearence="fill">
                <input matInput type="password" placeholder="Password">
            </mat-form-field>
            <mat-form-field appearence="outline">
                <input matInput type="text" placeholder="Username">
            </mat-form-field>
            <mat-form-field appearence="outline">
                <input matInput type="text" placeholder="Country">
            </mat-form-field>
            <mat-form-field appearence="outline">
                <input matInput type="text" placeholder="Phone number">
            </mat-form-field>
            <button mat-button (click)="register()">Register</button>
        </div>
    </mat-card>
</body>
</html>